body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calculator {
  background: rgb(0, 162, 255);
  width: 220px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.display {
  width: 100%;
  font-size: 50px;
  margin-bottom: 10px;
  display: flex;
  background: rgb(255, 255, 255);
  justify-content: flex-end;
  align-items: flex-end;
}

button {
  height: 40px;
  width: 50px;
  cursor: pointer;
}